.text-content{
  border-radius: 12px;
  border: 1px solid black;
  width: 80%;
  transition: 0.3s;

  p{
    transition: 0.3s;

  }

  &.dark-mode{
    background-color: #1a253b;
    p{
      color: white;
    }
  }
}

